.first-div 
{
    width: 500px;
    height: 500px;
    background-color:lightblue;
    border-width: 3px;
    border-style: solid;
    border-color:purple;
    border-radius: 20%;
    margin: 10px;
   padding: 5px;
   text-align:center;
   font-family:Arial,sans-serif;
   font-weight:bold;
}
.normal-para {
    color: green;
    padding:10 px;
    margin:5 px;
}

#fav-para {
    color:purple;
    font-weight:bold;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
}
a {
    color:palevioletred;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 20px;
}
ul {
    padding: 0;
}

ul li {
    background-color:yellow;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}
